.home_coins {
  width: 90vw;
  
  margin-right: 10vw;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.column-one {
  grid-column: 1;
}

.column-two {
  grid-column: 2;
}

.column-three {
  grid-column: 3;
}

.home_coin {
  width: fit-content
}

.profile_img {
  max-width: 200px;
  max-height: 200px;
}


.section_link {
  text-decoration: none;
  color: black;
}