.container {
  width: 100vw;
}

.header {
  width: fit-content;
  margin: 0 auto;
}

.home_coins {
  width: 90vw;

  margin-left: 5vw;
  margin-right: 5vw;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.column-one {
  grid-column: 1;
}

.column-two {
  grid-column: 2;
}

.column-three {
  grid-column: 3;
}

.home_coin {
  width: fit-content;
  margin: 0 auto;
}

.profile_img {
  max-width: 200px;
  max-height: 200px;
}