# Just to make sure this stuff is reviewed by key members
./github    @Coin-Catalog/core-members
.imgbotconfig    @Coin-Catalog/core-members
CNAME     @Coin-Catalog/core-members
README.md     @Coin-Catalog/core-members
CONTRIBUTING.md     @Coin-Catalog/core-members
