.coin_profile {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 10px;
}

.profile {
  grid-area: 1 / 1;
  padding: 7.5px;
  border: 2.5px solid black;
}

.secondary_part {
  grid-area: 1 / 2;
  padding: 7.5px;
  border: 2.5px solid black;
}

.image {
  max-width: 35%;
}